html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#relogio {
    position: absolute;
    display: block;
    height: 50%;
    width: 100%;
    background-color: #000;
    background: -webkit-linear-gradient( left top, #000, #c9f);
}

#relogio * {
    color: #fff;
    text-align: center;
    font-size: 150px;
}

#relogio-ponters {
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 25%;
}

#relogio-ponters * {
    text-align: center;
}